.scrollup {
    position: fixed;
    height: 3.125rem;
    width: 3.125rem;
    background-color: #d90845;
    color: #f7f7f7;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.25rem;
    font-weight: bold;
    line-height: 3.125rem;
    font-size: 1.875rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
}