{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "import",
        "jsx-a11y",
        "react-hooks"
    ],
    "env": {
        "browser": true
    },
    "rules": {
      "import/no-unresolved": [2, {"caseSensitive": false }]
    },
    "settings": {
        "import/resolver": {
          "webpack": {
            "config": {
              "resolve": {
                "modules": ["node_modules"]
              }
            }
          },
          "node": {
            "paths": ["./src"],
            "extensions": [".js", ".jsx"]
          }
        },
        "react": {
          "version": "detect" 
        }
    }
}