{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true
    },
    "rules": {
      "import/no-unresolved": [
         2, 
         { "caseSensitive": false }
      ]
   },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx"]
          }
        },
        "react": {
          "version": "detect" 
        }
    }
}